.cardLink {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-primary);
    height: 340px;
    width: 340px;
    padding: 5px;
    border-radius: 10px;

    img {
        width: auto;
        height: 310px;
        object-fit: cover;

        @media screen and (max-width: 480px) {     
            
        }
    }

    .title {
        color: white;
        height: 60px;
        padding-top: 10px;
        padding-bottom: 5px;    

        p {
            font-size: 18px;
            line-height: 25px;
        }
    }
}