.collapse {

    width: 582px;

    .header {
        background-color: var(--color-primary);
        color: white;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        height: 52px;
    }

    .content {
        padding: 30px;
        text-align: justify;

    }
}