* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.rootContainer {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-width: 375px;
  row-gap: 24px;

  main{
    min-height: 964px;

    @media screen and (max-width: 480px) {
      min-height: 400px;
    }

    
  }

 
}