.place {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 470px;
    position: relative;

    .picture {
        width: 100%;
        height: 415px;
        position: absolute;
        z-index: -1;
        object-fit: cover;
        object-position: center;

        @media screen and (max-width: 480px) {           
            height: 250px;
        }
    }

    .arrow {
        position: absolute;
        width: 46px;
        height: 79px;

        @media screen and (max-width: 480px) {
            width: 24px;
            height: 24px;
        }
    }

    .arrow_left {
        left: 10px;        
        @media screen and (max-width: 480px) {
                 
        }
    }

    .arrow_right {
        right: 10px;

        @media screen and (max-width: 480px) {
          
        }
    }

    .page {
        position: absolute;
        bottom: 40px;
        display: flex;
        color: white;
    }
}