.about{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-left: 20px;
    padding-right: 20px;
    
    .collapses{
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 18px;
        font-weight: 700;
        line-height: 25.67px;

    }
}

