.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;

    img {
        width: 80%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        width: 15%;
        margin-right: 20px;
    }


}