.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 470px;
    position: relative;

    .picture {
        width: 1200px;
        height: 415px;
        position: absolute;
        z-index: -1;
        object-fit: cover;
        object-position: center;
    }

    .arrow {
        position: absolute;
    }

    .arrow_left {
        left: 10px;
    }

    .arrow_right {
        right: 10px;
    }

    .page {
        position: absolute;
        bottom: 40px;
        display: flex;
        color: white;
    }
}